{% extends "layout.html" %}

{% block content %}
<h1>{{ title }}</h1>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <div>
        {{ form.username.label }}
        {{ form.username }}
    </div>
    <br>
    
    <div>
        {{ form.email.label }}
        {{ form.email }}
    </div>
    <br>

    <div>
        {{ form.gender.label }}
        {{ form.gender }}
    </div>
    <br>

    <div>
        {{ form.dob.label }}
        {{ form.dob }}
    </div>
    <br>

    <div>
        {{ form.password.label }}
        {{ form.password }}
    </div>
    <br>

    <div>
        {{ form.confirm_password.label }}
        {{ form.confirm_password }}
    </div>
    <br>

    <div>{{ form.submit() }} </div>
</form>
{% endblock %}
